
//-------------- Colores ------------//

$bg-body-color: #FFFFFF;

$bg-color-primary: #063647;
$bg-color-secundary: #09E4A2;
$bg-color-tercery: #00FFB4;
$bg-color-fourty: #270570;
$bg-color-fifth: #d0bbfa;
$bg-color-sixth: #FFFFFF;


//-------------- Fuentes ------------//
$font-primary: 'Maven Pro';
$font-secundary: 'sans-serif';

//--------- Tamaños Fuentes ---------//
$font-size-h1: 3.8rem;
$font-size-h2: 3.4rem;
$font-size-h3: 3.0rem;
$font-size-h4: 2.6rem;
$font-size-h5: 2.0rem;
$font-size-h6: 1.5rem;

